<!-- templates/registration/login.html -->
{% extends "base.html" %}
<!-- Загружаем библиотеку для работы со стилями Bootstrap. -->
{% load django_bootstrap5 %}

{% block content %}
<a href="{% url 'events:events_detail' event.pk %}">К событию</a>


<h1> Приглашенные на событие</h1>
<h1> {{ event.name }} </h1>

<a href="{% url 'events:guests_create' event.pk %}">Пригласить гостей</a>
{% for obj in page_obj %}
<div class="row">
  <div class="col-2">
    {{ obj.guest.username }}
  </div>
  <div class="col-2">
      {{ obj.guest.full_name }}
  </div>
  <div class="col-2">
    <a href="{% url 'events:guests_delete'  obj.pk %}">
        Отозвать приглашение
    </a>
</div>
  {% if not forloop.last %}
    <hr class="mt-3">
  {% endif %}
</div>
{% endfor %}

<!-- Подключаем пагинатор -->
{% include "paginator.html" %}
{% endblock %}