<footer class="footer">
    <div class="footer__container container">
        <h2><a href="{% url 'events:events_list' %}" class="footer__brand link"> Движение событий - наша жизнь</a></h2>
        <ul class="footer__items">
            {% comment %} <li class="footer__item"><a href="{% url 'about' %}" class="footer__link link">О проекте</a></li>
            <li class="footer__item"><a href="{% url 'teсhnologies' %}" class="footer__link link">Технологии</a></li> {% endcomment %}
        </ul>
    </div>
</footer>
